---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://weather.tsukumijima.net/api/forecast/city/130010
    method: GET
  response:
    body: |-
      {
          "publicTime": "2022-09-17T17:00:00+09:00",
          "publicTimeFormatted": "2022/09/17 17:00:00",
          "publishingOffice": "気象庁",
          "title": "東京都 東京 の天気",
          "link": "https://www.jma.go.jp/bosai/forecast/#area_type=offices&area_code=130000",
          "description": {
              "publicTime": "2022-09-17T16:36:00+09:00",
              "publicTimeFormatted": "2022/09/17 16:36:00",
              "headlineText": "",
              "bodyText": "　北日本から東日本は日本のはるか東に中心を持つ高気圧に覆われていますが、関東甲信地方は湿った空気の影響を受けています。また、台風第１４号が南大東島の北東にあって北西へ進んでいます。\n\n　東京地方は、曇りとなっています。\n\n　１７日は、台風第１４号の周辺の湿った空気の影響を受ける見込みです。このため、曇りで夜遅く雨となるでしょう。伊豆諸島では、雨や雷雨となる所がある見込みです。\n\n　１８日は、台風第１４号の周辺の湿った空気の影響を受ける見込みです。このため、雨時々曇りで、朝から昼前にかけて激しく降る所があり、また雷を伴う所があるでしょう。伊豆諸島でも、雷を伴って激しい雨の降る所がある見込みです。\n\n【関東甲信地方】\n　関東甲信地方は、曇りとなっています。\n\n　１７日は、台風第１４号の周辺の湿った空気の影響を受ける見込みです。このため、曇りで、雨や雷雨となり激しく降る所があるでしょう。\n\n　１８日は、台風第１４号の周辺の湿った空気の影響を受ける見込みです。このため、雨や曇りで、雷を伴い激しく降る所があるでしょう。\n\n　関東地方と伊豆諸島の海上では、１７日から１８日にかけて、うねりを伴いしける見込みです。船舶は高波に警戒してください。",
              "text": "　北日本から東日本は日本のはるか東に中心を持つ高気圧に覆われていますが、関東甲信地方は湿った空気の影響を受けています。また、台風第１４号が南大東島の北東にあって北西へ進んでいます。\n\n　東京地方は、曇りとなっています。\n\n　１７日は、台風第１４号の周辺の湿った空気の影響を受ける見込みです。このため、曇りで夜遅く雨となるでしょう。伊豆諸島では、雨や雷雨となる所がある見込みです。\n\n　１８日は、台風第１４号の周辺の湿った空気の影響を受ける見込みです。このため、雨時々曇りで、朝から昼前にかけて激しく降る所があり、また雷を伴う所があるでしょう。伊豆諸島でも、雷を伴って激しい雨の降る所がある見込みです。\n\n【関東甲信地方】\n　関東甲信地方は、曇りとなっています。\n\n　１７日は、台風第１４号の周辺の湿った空気の影響を受ける見込みです。このため、曇りで、雨や雷雨となり激しく降る所があるでしょう。\n\n　１８日は、台風第１４号の周辺の湿った空気の影響を受ける見込みです。このため、雨や曇りで、雷を伴い激しく降る所があるでしょう。\n\n　関東地方と伊豆諸島の海上では、１７日から１８日にかけて、うねりを伴いしける見込みです。船舶は高波に警戒してください。"
          },
          "forecasts": [
              {
                  "date": "2022-09-17",
                  "dateLabel": "今日",
                  "telop": "曇のち雨",
                  "detail": {
                      "weather": "くもり　夜遅く　雨",
                      "wind": "南東の風",
                      "wave": "０．５メートル"
                  },
                  "temperature": {
                      "min": {
                          "celsius": null,
                          "fahrenheit": null
                      },
                      "max": {
                          "celsius": null,
                          "fahrenheit": null
                      }
                  },
                  "chanceOfRain": {
                      "T00_06": "--%",
                      "T06_12": "--%",
                      "T12_18": "--%",
                      "T18_24": "50%"
                  },
                  "image": {
                      "title": "曇のち雨",
                      "url": "https://www.jma.go.jp/bosai/forecast/img/212.svg",
                      "width": 80,
                      "height": 60
                  }
              },
              {
                  "date": "2022-09-18",
                  "dateLabel": "明日",
                  "telop": "雨時々止む",
                  "detail": {
                      "weather": "雨　時々　くもり　所により　朝　から　昼前　雷を伴い　激しく　降る",
                      "wind": "南東の風　後　南の風",
                      "wave": "０．５メートル"
                  },
                  "temperature": {
                      "min": {
                          "celsius": "24",
                [...]
